.login::before {
  content: "";
  position: fixed;
  background: rgb(82, 94, 117);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30vh;
  left: 5vw;
  right: 5vw;
  color: whitesmoke;
}

.title {
  font-family: "Nabla", cursive;
  text-transform: uppercase;
  font-size: 4rem;
  background: rgb(82, 94, 117);
  display: inline-block;
}

.description {
  font-size: large;
}

.login button {
  margin-top: 2rem;
}
