.filter {
  background: rgb(216, 217, 207);
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.125rem;
}

/* For Desktop View */
@media screen and (min-width: 1024px) {
  .filter {
    margin-top: 2rem;
    gap: 1rem;
    grid-template-columns: 2fr 1fr;
  }
}
