.resources {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1rem;
}

.resource {
  border: 0.125rem solid rgb(82, 94, 117);
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.type {
  color: whitesmoke;
  position: absolute;
  text-transform: uppercase;
  font-size: smaller;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

.type > span {
  display: inline-flex;
  gap: 0.2rem;
}

.img {
  background: lightgray;
  min-height: 6rem;
  min-width: 6rem;
  position: relative;
}

.img::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.description {
  padding: 1rem;
}

.description-tags {
  font-size: smaller;
}

.description-tags::before {
  margin-right: 0.2rem;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath d='M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z'/%3E%3Cpath d='M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043-7.457-7.457z'/%3E%3C/svg%3E");
}

.description-text * {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.description-actions {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.resources-actions {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem;
  width: 50%;
}

.resources-actions-new {
  order: -1;
}

/* For Desktop View */
@media screen and (min-width: 1024px) {
  .resources {
    padding: 2rem 0;
  }

  .resources-actions {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .resources-actions-new {
    order: 0;
  }
}
