.user {
  position: relative;
  margin-top: 1rem;
  text-align: center;
}

.actions {
  border-radius: 0.2rem;
  list-style: none;
  padding: 0.8rem;
  position: absolute;
  display: none;
  background: whitesmoke;
  width: 100%;
}

.actions a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  gap: 0.4rem;
  text-decoration: none;
  color: rgb(82, 94, 117);
  border-bottom: 0.125rem dashed transparent;
  cursor: pointer;
  user-select: none;
}

.actions a:hover {
  color: rgb(15, 17, 21);
  border-color: rgb(15, 17, 21);
  /* border-bottom: 0.125rem dashed; */
  /* margin-bottom: -0.125rem; */
}

/* .avatar:focus + .actions {
  display: block;
} */

.user:focus > .actions {
  display: block;
}

/* For Desktop View */
@media screen and (min-width: 1024px) {
  .user {
    margin-top: 2rem;
  }
}
