@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Nabla&family=Proza+Libre&display=swap");

:root {
  font-family: "Proza Libre", sans-serif;
  font-size: medium;
  text-rendering: optimizeLegibility;
}

body {
  color: rgb(30, 36, 46);
  background: rgb(237, 237, 237);
}

main {
  display: grid;
  grid-template-areas:
    "a"
    "b"
    "c";
  grid-template-columns: 1fr;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
}

/* For Desktop View */
@media screen and (min-width: 1024px) {
  main {
    grid-template-areas:
      "a b"
      "a .";
    grid-template-columns: 1fr 3fr;
  }

  h2 {
    font-size: xx-large;
  }

  h3 {
    font-size: x-large;
  }
}
